<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/autho-header.ejs')%>
    <div class="content">
        <h1>Страница не найдена</h1>
    </div>
    <%- include('partials/scripts.ejs')%>
</body>
</html>